.book-item-page {
    margin-bottom: 2rem;
}

.book-info {
    display: block;
    margin-bottom: 0.5rem;
}

.delete-btn{
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: #eee;
    border: 1px solid #bdbdbd;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: background-color .15s ease-in-out;
}
.delete-btn:hover {
    background-color: #bdbdbd;
}

.book-name{
    padding: 10px;
}
.book-info{
    padding: 10px;
}
.book-info p{
    text-align: left;
}