.books-table {
    width: 100%;
    margin-bottom: 20px;
    border: 5px solid #fff;
    border-bottom-width: 3px;
    border-collapse: collapse;
    outline: 3px solid #E39871;
    font-size: 15px;
    background: #fff!important;
}
.books-table th {
    text-align: center;
    font-weight: bold;
    padding: 7px;
    background: #E39871;
    border: 1px solid #000000;
    font-size: 15px;
}
.books-table td {
    text-align: center;
    padding: 7px;
    border: 1px solid #000000;
    font-size: 15px;
}

.books-table tbody tr:nth-child(even){
    background: #eadfdf !important;
}