.nav-bar{
    height: 6rem;
    display: flex;
    align-items: center;
    color: black;
    padding: 0 10px;
    float:right;
}
.nav-bar .nav-link{
    display: block;
    font-family: 'Lato', sans-serif;
    font-size: 1.1em;
    text-transform: uppercase;
    padding: 0.5em 1em;
    color: #000000;
    -webkit-transition: 0.9s; /* плавный переход  */
    -moz-transition: 0.9s;
    -o-transition: 0.9s;
    transition: 0.9s;

}
.nav-bar .nav-link:hover{
    color: #ffffff;
    background: #333c44;
}
